<div class='big-container'>
  <img class='big-container-img' src='https://www.proceilingtiles.com/images/D/ST-17867088-f.jpg'>
</div>
  <%= react_component 'App' , { programs: @programs, tracks: @tracks } %>

<div class='footer'>

</div><%# class=footer %>
<%# https://iso.500px.com/wp-content/uploads/2015/12/stock-photo-125301449-1500x822.jpg %>
