<div class='big-container'>
  <img class='big-container-img' src='https://www.proceilingtiles.com/images/D/ST-17867088-f.jpg'>
</div>
  <%= react_component 'App' , { programs: @programs, tracks: @tracks } %>

<div class='footer'>
  <div class="footer-lists">
      <ul>
        <li class="col-title">Features</li>
        <li><a data-name="Meditate" href="/meditate">Meditate</a></li>
        <li><a data-name="Sleep" href="/meditate/sleep-stories">Sleep</a></li>
        <li><a data-name="Breathe" href="/breathe">Breathe</a></li>
        <li><a data-name="Sounds" href="/">Relaxing Sounds</a></li>
      </ul>

      <ul>
        <li class="col-title">Offers</li>
        <li><a data-name="Subscribe" href="/subscribe">Subscribe</a></li>
        <li><a data-name="Gift" href="/gift">Gift</a></li>
        <li><a data-name="Redeem" href="/redeem">Gift Redeem</a></li>
        <li><a data-name="Teams" href="/teams">Groups &amp; Teams</a></li>
        <li><a data-name="Classrooms" href="/schools">Classrooms</a></li>
      </ul>
      <ul>
        <li class="col-title">About</li>
        <li><a data-name="About" href="/mindfulness-tips/about/">About Calm</a></li>
        <li><a data-name="Blog" href="/mindfulness-tips">Mindfulness Tips</a></li>
        <li><a data-name="Kind Words" href="/kind-words">User Reviews</a></li>
        <li><a data-name="Book" href="/book">Calm Book</a></li><li><a data-name="Careers" href="/jobs">Careers</a></li>
      </ul>

      <ul><li class="col-title">Help</li><li><a data-name="FAQ" href="/faq/web" target="_blank">FAQ</a></li><li><a data-name="Terms" href="/terms" target="_blank">Terms</a></li><li><a data-name="Privacy" href="/privacy" target="_blank">Privacy</a></li><li><a data-name="Support" href="mailto:support@calm.com?subject=Gift Of Calm">Contact Us</a></li></ul><ul class="social-col"><li class="col-title">Social</li><li><a data-name="instagram" href="/instagram" target="_blank"><div class="ic ic-instagram"></div><!-- react-text: 855 -->Instagram<!-- /react-text --></a></li><li><a data-name="facebook" href="/facebook" target="_blank"><div class="ic ic-facebook"></div><!-- react-text: 859 -->Facebook<!-- /react-text --></a></li><li><a data-name="twitter" href="/twitter" target="_blank"><div class="ic ic-twitter"></div><!-- react-text: 863 -->Twitter<!-- /react-text --></a></li><li><a data-name="pinterest" href="/pinterest" target="_blank"><div class="ic ic-pinterest"></div><!-- react-text: 867 -->Pinterest<!-- /react-text --></a></li></ul></div>
</div><%# class=footer %>
<%# https://iso.500px.com/wp-content/uploads/2015/12/stock-photo-125301449-1500x822.jpg %>
