<%= render "shared/header" %>

<section class="landing-main">

</section>

<section id="promos" class="section-promos">
  <ul>
    <li id="promo-1"><h2 class='promo-text'>PROGRAMS</h2></li>
    <li id="promo-2"><h2 class='promo-text'>TEACHERS</h2></li>
    <li id="promo-3"><h2 class='promo-text'>BLOG</h2></li>
    <li id="promo-4"><h2 class='promo-text'>PODCAST</h2></li>
  </ul>
</section>

<%= react_component 'FooterA' %>


