<nav class="landing-nav">
  <ul>
    <li>First</li>
    <li>First</li>
    <li>First</li>
    <li>First</li>
  </ul>

</nav>

<section class="landing-main">

</section>

<section id="promos" class="section-promos">
  <ul>
    <li id="promo-1"></li>
    <li id="promo-2"></li>
    <li id="promo-3"></li>
    <li id="promo-4"></li>
  </ul>
</section>

<footer class="landing-footer">

</footer>

