<%= render "shared/header" %>

<section class="landing-main">

</section>

<section id="promos" class="section-promos">
  <ul>
    <li id="promo-1"><a href="/list"><h2 class='promo-text'>PROGRAMS</h2></a></li>
    <li id="promo-2"><a href="/teachers"><h2 class='promo-text'>TEACHERS</h2></a></li>
    <li id="promo-3"><a href=""><h2 class='promo-text'>BLOG</h2></a></li>
    <li id="promo-4"><a href=""><h2 class='promo-text'>PODCAST</h2></a></li>
  </ul>
</section>

<%= react_component 'FooterA' %>


