<div class='program-container'>

  <%= render "shared/header" %>

  <section class='list-background'>

    <section style='min-height: 100%;'>

      <section style='display: flex; flex-direction: row; padding-top: 16px; justify-content: center; position: relative;'>

        <section style='position: relative;'>

          <%= react_component 'CategoryBox', { programs: @programs, access: @access, title: 'Recommended For You'} %>

          <%= react_component 'CategoryBox', { programs: @programs, access: @access, title: 'Sacramental Preparation'} %>

        </section>

      </section>

    </section>

  </section>

</div>
