<div class='teacher-container'>

  <%= render "shared/header" %>

  <section class='teacher-padding-box'>

    <section class='teacher-box-container'>

      <%= react_component 'TeacherBox', { teacher: @teacher } %>

      <%= react_component 'ProgramsBox', { teacher: @teacher, programs: @programs, access: @access } %>

    </section> <%# teacher-box-container %>

  </section> <%# teacher-padding-box %>

  <%= react_component 'FooterA' %>

</div> <%# teacher-container %>
