
<div class='teacher-container'>

  <section class='teacher-padding-box'>

    <section class='teacher-box-container'>

      <section class='teacher-box'>

        <section class='teacher-box-centered'>

          <section class='teacher-picture-box'>

            <section class='teacher-picture'>

              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTryYYjI-bApvAR3EQ6Ter3WtljMmzi4t4t3p4UoDa9oYp83FikQQ"></img>

            </section>

          </section>

          <section class='teacher-name'>Kevin Durant</section>

          <section class='teacher-blurb'>
              Cuddled in a heap with his eyes shut tight,
              He sleeps through the day.  He sleeps through the night.
              The cold winds howl and the night sounds growl
              But the bear snores on.
          </section>

        </section>

      </section>

      <section class='teacher-programs-box'>

        <section class='teacher-programs-title'>
          Meditations Guided by Kevin
        </section>

        <section class='teacher-programs-squares-box'>

          <section class='top-programs-box-shadow'>

            <section class='top-programs-box'>

              <a href="">
                <section class='top-programs-box-pic'>

                  <section class='title'>
                    Bear Snores On
                    <section class='free-button'>Free</section>
                  </section>

                  <section class='bottom'>
                    <section class='bottom-centered'>
                      <section>
                        <section class="play-btn">
                          <img src="/assets/play-arrow-2x.png">
                        </section>
                      </section>
                      <section>
                        <section>
                          <p>7 Sessions</p>
                          <p>5 min</p>
                        </section>
                      </section>
                    </section>
                  </section>

                </section>
              </a>



            </section>

          </section>

        </section>

      </section>

    </section>

  </section>

</div>
