<div class="teachers-container">

<section class="teachers-padding-box">

  <section class="teachers-centering-box">

    <section class="teachers-info-box">
      <section class="teachers-text">
        In a cave in the woods, in his deep dark lair,
        through the long cold winter, sleeps a great brown bear
      </section>
    </section><%# teachers-info-box %>

    <section class="teachers-info-box">

      <section class="teachers-text teachers-margin">
        <%= react_component 'TeacherPicLinks', { teachers: @teachers } %>

      </section>

    </section>

  </section>

</section>

</div>
