<div>

  <div style='height: 100%;
              width: 55%;
              background-color: black;'>
    <div>
      <div>

      </div>
    </div>
  </div>

  <div>
    <div>
      <div>

      </div>
    </div>
  </div>


</div>
