<div class='covered'>

  <div class='external-elements'>
    <div class='footer'>

      <div>

      </div>

      <div class='meditate-footer'>
        <div id='footer'>
          <div class='footer-lists'>

          </div><%# class=footer-lists %>
        </div><%# id=footer %>
      </div><%# meditate-footer %>
    </div><%# class=footer %>
  </div><%# external-elements %>

  <div id='meditate-screen' class='columns'>

    <div class='exit-button'>
      <%# more stuff in here %>
    </div>

    <div class='sections-list left-column'>

      <div class="gradient-background" style="background:linear-gradient(-30deg, rgba(52, 120, 221, 0.9) 35%, rgba(59, 190, 236, 0.9) 100%);">
      </div>

      <div id="scrollme" style="position:relative;overflow:hidden;width:100%;height:100%;">

        <div style="position:absolute;top:0;left:0;overflow:scroll;-webkit-overflow-scrolling:touch;right:0;bottom:0;">

          <div class="content">
            <div id="back-button-container">
            </div>
            <h1>Meditate</h1>

            <div class='sections'>
              <div class='section'>
                <div class='title'>Daily Calm</div>
                <div class="subtitle">A unique meditation and inspiration every day</div>
                <div class='cells'>
                  <div class='new-cell has-action row-styled'>

                  </div>
                </div>
              </div>
            </div>

      </div><%# %>
        </div><%# %>
          </div><%# %>


      <div>

      </div><%# %>
    </div><%# %>

  </div><%# id='meditate-screen' class='columns' %>


</div><%# covered %>

