<div class='program-container'>

  <section class='program-background'>
    <section class='program-background-film'>
    </section>
  </section>

  <section class='program-box-container'>
    <section class='program-box'>

      <section class='program-info-box-container'>
        <section class='program-info-box'>
          <section class='program-info-box-title'>
            <h1>Find Happiness</h1>
          </section>
          <a href="" class='teacher-link'>
            <section class='teacher-pic'>
              <img src="https://bucketeer-760d0a32-a78c-4335-9090-9206d2933331.s3.amazonaws.com/5747165561022e030008ce93">
            </section>
            <p class='by-line'>by Michael Jordan</p>
          </a>
          <section class='program-blurb'>
            <h2>Horn went BEEP, Engine purred.  Friendliest sounds you've ever heard. Little Blue Truck came down the road.  BEEP said Blue to a big green toad.  Toad said CROAK and winked an eye when Little Blue Truck went rolling by.</h2>
          </section>

        </section>
      </section>

      <section style="width: 100%; border-bottom: 1px solid rgb(55, 63, 78); margin-bottom: 48px;">
        <section style="transform: translateY(50%); max-width: 220px; margin: 0px auto;">
          <button style="display: flex; align-items: center; justify-content: center; font-size: 12px; font-weight: 100; font-family: &quot;Avenir Book&quot;, Avenir, Helvetica, Arial, sans-serif; border-width: 0px; border-radius: 2px; padding: 8px; width: 100%; cursor: pointer; background-color: rgb(63, 192, 199); color: rgb(255, 255, 255);">
            <section style="width: 100%;">
              <section style="margin: 0px auto;">
                <section style="display: flex; align-items: center; justify-content: center;">
                  <img src="/assets/play-arrow-2x.png" style="width: 24px; height: 24px; margin-left: -2px;">
                  <section style="font-size: 14px; font-weight: 200;">Begin</section>
                </section>
              </section>
            </section>
          </button>
        </section>
      </section>

    </section>
  </section>

</div>
