
.landing-nav {
  height: 48px;
  background: black;
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 10;

  ul {
   list-style: none;
   padding-left: 200px;
  }

  li {
    color: white;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    opacity: 1;
    font-size: 14px;
    font-weight: 400;
    display: inline;
    padding-left: 25px;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

.landing-main {
  min-height: 450px;
  height: calc(100vh - 48px);
  background: #fafafa;
  background-size: cover;
  background-image: url(https://s3-us-west-2.amazonaws.com/innerlfie/il_landing.jpeg);
}


.section-promos {
  max-width: 2560px;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
  width: 100%;

  ul {
    display: block;
    min-height: 200px;
    box-sizing: border-box;
    margin: 0;
    list-style: none;

    padding: 0;

    li {
      width: 25%;
      min-height: 200px;
      float: left;
    }
  }
}

.landing-footer {
  background-color: #f2f2f2;
  height: 200px;
}

#promo-1 {
  background-color: #A7B6E2;
  z-index: 9999;
}

.promo-text {
  font-size: 32px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
  letter-spacing: .3;
  margin: 0;
  text-align: center;
  padding-top: 25%;
  font-family: Avenir-Book,Avenir,Helvetica,Arial,sans-serif;
}

#promo-2 {
  background-color: #C6CFEC;

  &:hover {
    opacity: .5;
  }
}

#promo-3 {
  background-color: rgb(41, 51, 67);

  &:hover {
    opacity: .5;
  }
}

#promo-4 {
  background-color: #203860;

  &:hover {
    opacity: .5;
  }
}



@media screen and (max-aspect-ratio: 9999/1) and (max-width: 1068px) and (min-aspect-ratio: 1/10000) and (min-width: 736px) {
  .section-promos {
    ul {
      li {
        width: 50%;
      }
    }
  }
}

@media screen and (max-aspect-ratio: 9999/1) and (max-width: 735px) and (min-aspect-ratio: 1/10000) and (min-width: 0px) {
  .section-promos {
    ul {
      li {
        width: 100%;
      }
    }
  }
}

