body {
  margin: 0;
  font-family: Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;}

.programs-container {
  margin: 0px auto 0px auto;
  height: 100%;
  width: 1000px;
  /* min-width: 840px; */
  position: absolute;
  top: 0;
  left: 0;
}

.big-container {
  position: relative;
  overflow: hidden;
  max-height: 1000px;
  min-height: 840px;
}

.big-container-img {
  width: 100%;
  height: auto;
  opacity: .6;
}

.programs-column-container {
  margin-left: 15%;
  padding-top: 100px;
  height: 100%;
  width: 420px;
  overflow: auto;
  float: left;
  animation: fadein 2s;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(-30deg, rgba(52, 120, 221, 0.9) 35%, rgba(59, 190, 236, 0.9) 100%);

  h2 {
    margin-left: 12%;
  }
}

.cell-container-right {
  padding-top: 100px;
  height: 100%;
  width: 40%;
  overflow: auto;
  position: absolute;
  top: 0px;
  right: 0;

  h2 {
    margin-left: 12%;
  }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.cell {
  border-radius: 8px;
  margin-bottom: 10px;
  line-height: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 330px;
  margin-left: 9%;
  background: linear-gradient(-30deg, rgba(52, 120, 221, 0.9) 35%, rgba(59, 190, 236, 0.9) 100%);

  &:hover {
    box-shadow: 0 0 20px 2px #262626;
    cursor: pointer;
  }

  &.active-cell {
    box-shadow: 0 0 20px 2px #262626;
  }

}


.cell-right {
  margin-bottom: 10px;
  line-height: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  width: 330px;
  margin-left: 9%;
  animation: fadein .5s;


  &:hover {
    .text-container .title, .sub-title {
      font-weight: bold;
      opacity: .6;
      cursor: pointer;
    }
    .play-arrow {
      opacity: .5;
    }
  }
}

.icon {
  margin-left: 16px;
}

.icon-right {
  margin-right: 10%;
}

.icon-img {
  height: 40px;
  width: 40px;
  display: block;
  margin-top: 20px;
}

.text-container {
  position: relative;
  overflow: hidden;
  align-self: center;
  vertical-align: middle;
  margin: 0 30px;
  white-space: nowrap;
  flex: 1;
}

.title {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: hsla(0,0%,100%,.8);
    font-size: 1em;
    font-weight: 300;
    line-height: 140%;
    font-style: normal;
}

.sub-title {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: hsla(0,0%,100%,.8);
    font-size: 1em;
    font-weight: 300;
    line-height: 140%;
    font-style: normal;
}

.right {
  color: black;
}

.right-container {
  height: auto;
  width: 30px;
}

.right-decorator {
  margin-right: 10px;
}

.chevron {
  height: 20px;
  width: 20px;
}

.play-arrow {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 10px;
}


h1 {
  text-align: center
}

.b-table {
  float: left;
  padding: 5px;
  border: 5px;
  margin: 20px;
  height: 500px

  div {
    border: 2px;
    border-style: solid;
    padding: 5px;
  }
}

.a-table {
  float: left;
  padding: 5px;
  border: 5px;
  margin: 20px;
}

th {
  font-size: 20px;
}

.box {
  border: 2px;
  border-style: solid;
  padding: 4px;
}

.sub {
  font-weight: bold;
}

.a-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin: 2px;

  .tooltiptext {
    visibility: hidden;
    width: 340px;
    text-align: left;
    border-radius: 3px;
    white-space: pre-line;
    background: #fff;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
    color: #2c2c2c;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
    overflow: visible;

    /* Position of the tooltip */
    position: absolute;
    z-index: 999999;
    bottom: 120%;
    left: 50%;
    margin-left: -120px;

  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }

  }

}

.b-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin: 2px;

  .tooltiptext {
    visibility: hidden;
    width: 340px;
    text-align: center;
    border-radius: 3px;
    white-space: pre-line;
    background: #fff;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
    color: #2c2c2c;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
    overflow: visible;

    /* Position of the tooltip */
    position: absolute;
    z-index: 999999;
    bottom: 120%;
    left: 85%;
    margin-left: -120px;

  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }

  }

}



